<hr />
<p><strong>Mapping SW Function: void nn (c_input_t input[784], c_output_t output[10])</strong></p>
<p>Arguments mapped to AXILite interface:</p><table>
<tbody>
<tr><td>Argument</td><td>Size (bits)</td><td>AXILite interface</td><td>Direction</td><td>Offset</td></tr>
<tr><td>input</td><td>784*32</td><td>s_axi_AXILiteS</td><td>in</td><td>0x400</td></tr>
<tr><td>output</td><td>10*32</td><td>s_axi_AXILiteS</td><td>out</td><td>0x800</td></tr>
</tbody>
</table>
